/* Estilos básicos comunes */

body {
    background-color: #FFFFF5;
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica;
    font-size: 14px;
}

div {
    border: 0px solid #293b47;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #1256A0;
    outline: none;
}


/*Estilo para listas horizontales */
ul {
    padding-right: 0px;
    -webkit-padding-start: 0px;
}
li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
    cursor: pointer;
}

/* Estilos cabecera `*/
.toolbar {
    background: #222;
    padding-top: 10px;
    padding-left: 40px;
}
.toolbar a {
    color: #ccc;
}
.toolbar .head1 {
    font-family: Verdana;
    font-size: 9px;
}
.toolbar .headTitle{
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.toolbar .sections{
    font-size: 14px;
    color: #fff; 
    font-weight: normal;   
}

.toolbar .subSections{
    margin-bottom: 10px;
}
/* end estilos cabeceras */

.container{
    min-height: 350px;
    height: auto !important;
}

.footer{
    margin-top: 100px;
    background: #222;
    color: #ccc;
    font-family: Verdana;
    font-size: 9px;
    padding-left: 40px;
}