/* Estilos básicos comunes */

body {
    background-color: #FFFFF5;
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica;
    font-size: 14px;
}

div {
    border: 0px solid #293b47;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #1256A0;
    outline: none;
}


/*Estilo para listas horizontales */
ul {
    padding-right: 0px;
    -webkit-padding-start: 0px;
    margin: 5px;
}
li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
    cursor: pointer;
}

.center {
    margin: auto;
    padding: 5px;
}

/* Estilos cabecera `*/
.toolbar {
    background: #222;
    padding-top: 10px;    
    border-bottom: 1px solid #00ada9;
    color: #fff;
}
.toolbar .center{
    margin: auto;
    width: 950px;
}
.toolbar a {
    color: #ccc;
}
.toolbar .head1 {
    font-family: Verdana;
    font-size: 9px;
    padding-bottom: 1px;
}
.toolbar .headTitle{
    font-family: Arial;
    font-weight: bold;
    font-size: 26px;
    color: #fff;
    padding-left: 35px;
    background: no-repeat ;
    background-image: url("/../images/logo.png");
}
.toolbar .sections{
    font-size: 14px;
    color: #fff; 
    font-weight: normal;   
    padding-bottom: 5px;
}

/* end estilos cabeceras */

.container{
    min-height: 380px;
    height: auto !important;
    margin: auto;
    width: 950px;
}

.footer{
    margin-top: 100px;
    background: #222;
    color: #ccc;
    font-family: Verdana;
    font-size: 9px;
    padding-left: 40px;
}