<div class="subSections" ng-controller="MarketsMasterController as marketsMasterController" ng-init="marketsMasterController.init()">
    <ul>
        <li ng-repeat="market in marketsMasterController.markets" ng-click="marketsMasterController.select(market)">
        {{market.title}}
        </li>        
    </ul>
</div>

<div ng-include src="'html/markets/resources.html'" 
	ng-show="marketsMasterController.selected || true"
	ng-controller="ResourcesController as resourcesController" 
	ng-init="init(marketsMasterController.selected)"></div>