<!-- resourcesController -->

<div ng-show="resourcesController.resources.length" 
 ng-controller="ResourcesChartController as chartController" ng-init="chartController.init()">

    <div   ng-show="chartController.chart.data.rows.length > 5" class="animate-hide">
        <div google-chart chart="chartController.chart" style="{{chartController.chart.cssStyle}}" />
    </div>

    <table id="dailyTab" >
        <thead>
            <tr>
                <th class="icon">&nbsp;</th>
                <th class="left pointer">{{resourcesController.table.description}}<span class="headerSortDefault newSiteIconsSprite" sort_default=""></span> </th>
                <th class="pointer">15 minutos</th>
                <th class="pointer">1 hora</th>
                <th class="pointer">Diario</th>
                <th class="pointer">Semanal</th>
                <th class="pointer">Mensual</th>
                <th class="pointer">Anual</th>
                <th class="pointer">3 años</th>
            </tr>
        </thead>
        <tbody>    
            <tr ng-repeat="resource in resourcesController.resources" ng-click="chartController.load(resource)">
                <td class="flag"><span title="Estados Unidos" class="ceFlags USA">&nbsp;</span></td>
                <td class="flag">
                    <nobr>{{resource.name}}</nobr>
                </td>
                <td >0,00%</td>
                <td >0,35%</td>
                <td >0,28%</td>
                <td >3,64%</td>
                <td >0,77%</td>
                <td >6,61%</td>
                <td >13,63%</td>
            </tr>
        </tbody>
    </table>



</div>