
<div ng-controller="SectionsMasterController as sectionsMaster" ng-init="sectionsMaster.init(1)">
	<div class="subSections">
	    <ul>
	        <li ng-repeat="section in sectionsMaster.sections" ng-click="sectionsMaster.select(section)">
	        {{section.description}}
	        </li>        
	    </ul>	    
	</div>

	<div ng-include src="'html/markets/subsections.html'" 		
		ng-controller="SubSectionsController as subSectionsController" 
		ng-init="subSectionsController.init(sectionsMaster)">
	</div>

</div>